.menu {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 10px 0;

            a {
                font-weight: bold;
                display: block;
                cursor: pointer;
                margin: 0 10px;

            }
        }
    }
}


